.list {
  margin: 25px 0;
  padding: 0 10px;
}


.login {

}

.error {
  color: red;
}

.userName,.passWord {
  input {
    height: 60px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e9e9e9;
  }
  span {
    margin-right: 10px;
  }
}

.formSubmit {
  button {
    margin-top: 25px;
    width: 100%;
    height: 50px;
    background-color: #21b97a;
    color:#fff;
    border: none;
  }
  
}