html,body,#root, #app {
  background-color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100%;
  touch-action: none;
}

* {
  box-sizing: border-box;
  touch-action: none;
}


li {
  list-style:none;
}

p,ul,ol,div,h4,h3 {
  padding: 0;
  margin: 0;
}

.clearfix::after ,
.clearfix::before {
  display: table-cell;
  content: ""
}

.clearfix::after {
  clear: both;
}